.idea
._*
.DS*
.env
.installed
Gulpfile.js
package-lock.json
package.json
FIRST_INSTALL
git-pull.sh

node_modules
gitlab-ci-scripts
Gulp
typo3-gitlab-ci

var/*
vendor/*

public/*
!public/typo3conf
public/typo3conf/*
!public/typo3conf/ext
public/typo3conf/ext/*
!public/typo3conf/ext/website
public/typo3conf/ext/website/Resources/Public/JavaScript/*
public/typo3conf/ext/website/Resources/Public/Stylesheets/*