
<header class="header fixed-top">
    <f:render section="PageHeader" arguments="{_all}"/>
</header>

<div class="content">
    <main>
        <f:render section="PageContent" arguments="{_all}"/>
    </main>
</div>

<footer class="footer">
    <f:render section="Footer" arguments="{_all}"/>
</footer>
<div class="overlay"></div>
<noscript id="deferred-styles">
    <link rel="stylesheet" type="text/css" href="{settings.deferredCSSFilePath}{settings.theme}/{settings.deferredCSSFileName}" />
</noscript>
<script type="text/javascript">
    var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement);
        addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
    if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
    else { window.addEventListener('load', loadDeferredStyles); }
</script>
